/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .font-poppins {
    font-family: var(--font-poppins), system-ui, sans-serif;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-indigo-500 to-purple-600;
  }
  
  .shadow-glow {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  }
  
  .bg-dark-space {
    background-color: #050816;
  }
}

.svg-icon {
  filter: brightness(0) saturate(100%) invert(63%) sepia(33%) saturate(1068%) hue-rotate(179deg) brightness(101%) contrast(103%);
}

/* You can create different color variations like: */
.svg-icon-purple {
  filter: brightness(0) saturate(100%) invert(55%) sepia(12%) saturate(1470%) hue-rotate(223deg) brightness(92%) contrast(90%);
}